﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>

<p>Simple Product Database Model Project Using MVC & MSSQL by <strong>ÖZKAN EREN</strong>

</p>
<div>
</div>
</body>
</html>
