﻿@using ProductManager.Entities
@model ProductManager.WebClient.Models.PagingModel

@{
    ViewBag.Title = "Index";
}

<div><h2>ProductDatabase</h2></div>


<!DOCTYPE html>

<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }
    </style>
</head>
    <body>
    <div class="container">


        <script>

    $(document).ready(function () {

        $.get("/Food/Search?q=" + index,
            function (data1, status) {
                $(".Replace").html(data1);


            });
    });
        </script>

        <h3>@Html.ActionLink("Search", "List", UrlParameter.Optional)</h3>


        <div class="Replace"></div>

        <div>
        @using (Html.BeginForm("Index", "Product", FormMethod.Post))
            {
                <h4>Products</h4>

                <hr />


                <table class="table
                ">
                <tr>
                <th>ProductID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Others</th>

                </tr>
                @foreach (Product product in Model.Product)
                {
                    <tr>
                    <td>@product.ProductId</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>
                    @Html.ActionLink("Edit", "Edit", new { id = product.ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = product.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = product.ProductId })
                    </td>
                    </tr>
                }
                </table>
                <br />
                <table>
                <tr>
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <td>
                    @if (i != Model.CurrentPageIndex)
                    {
                                    <a href="javascript:PagerClick(@i);" class="btnClickable">@i</a>
                    }
                    else
                    {
                                    <span>@i</span>
                    }
                    </td>
                }
                </tr>
                </table>
                <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
        }
        <script type="text/javascript">
    function PagerClick(index) {

        document.getElementById("hfCurrentPageIndex").value = index;

        $.get("/Product/Index?currentPageIndex=" + index,
            function (data, status) {
                window.location.href = "/Product/Index?currentPageIndex=" + index;
            });

        alert(data);

        document.forms[0].submit();
    }
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        </div>
        </div>
        </body>
    </html>
